body{
  margin:0
}

.margen{
  margin: 100px;
}

.table{
  width: 100%;
  text-align:left ;
}

.table td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu{
  background-color: #2541ab;
  padding: 20px;
  font-size: 20px;
}

#menu a{
  color:#fff;
  padding-right: 50px
}
